.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.margin-right-nav {
  position:relative;
  left:-230px
}
.margin-left-nav {
position: fixed;
right:50px;
}
.nav-bg {
  background-color: beige;
} 
.home-page-css {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top:20vw;
}
.typewriter-effects {
  display: flex;
  flex-direction: column;
  gap:10px;
  font-weight: 700;
  font-size: 39px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);

}
/* Default Light Mode */
body {
  background-color: white;
  color: black;
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #121212;
  color: white;
}

/* Light Theme */
.light-theme {
  background-color: white;
  color: black!important;
}

/* Dark Theme */
.dark-theme {
  background-color: #121212 ;
  color: white !important;
}

/* Dark Mode Button */
.dark-mode-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 9px;
  color: inherit;
  display: flex;
  gap:5px;
}


